* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
